form action="/new_post" method="post"
    input type="text" name="text" placeholder="Write a new post here!"
    input type="submit" value="Post"

a href="/page/#{name}" Min sida
br
a href="/following" Följer
br
a href="/liked" Gillade inlägg