* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

nav {
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    padding: 10px;
    height: 30px;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.white {
    color: white;
}

.nav_left_side .nav_link {
    margin-right: 10px;
}

.nav_right_side .nav_link {
    margin-left: 10px;
}

body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    background-color: blueviolet;
    width: 40%;
}


.post_box {
    background-color: white;
    margin-bottom: 20px;
    border: black 1px solid;
}

.like_box {
    display: flex;
    margin-right: 10px;
}

.post_content_box {
    padding: 2px;
}

.post_bottom {
    padding: 4px;
    display: flex;
    justify-content: space-between;
}
.post_top {
    padding: 6px;
    display: flex;
    justify-content: space-between;
}

.like_users {
    margin-right: 5px;
    text-decoration: none;
}

.buttons {
    display: flex;
}

#delete-button {
    margin-right: 5px;
}

.following-box {
    padding: 5px;
    background-color: white;
}

.login-box {
    background-color: white;
    padding: 5px;
}

.form-box {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    background: blue;
    color: white;
}

input[type=submit] {
    border: black 1px solid;
    margin: 2px;
    border-radius: 4px;
    padding-left: 3px;
    padding-right: 3px;
}

input[type=text] {
    padding: 3px;
}

.new-post {
    padding: 5px;
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
}